<div class="row">
    <div class="col-md-12">
      <h2>Dashboard</h2>
  
      <table class="table">
        <thead>
          <tr>
            <th>Total de Clientes</th>
            <th>Total de Fotos</th>
            <th>Total de Administradores</th>
            <th>Total de Ordenes</th>
          </tr>
        </thead>
        <tbody>
        
            <tr>
              <td><%=totalClientes%></td>
              <td><%=totalFotos%></td>
              <td><%=totalAdministradores%></td>
              <td><%=totalOrdenes%></td>
            </tr>
       
        </tbody>
      </table>

  
    </div>
  
  </div>
  